target/
**/*.rs.bk
Cargo.lock
.DS_Store
.cargo
*.png

## Intellij Idea project configuration files
.idea/
## VScode project configuration files
.vscode/

!assets/backgrounds/**/*.png
!assets/badges/**/*.png
!assets/banners/**/*.png
!assets/frames/**/*.png

dist/

logs.txt